<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="16a5ea89-e11f-4675-857f-c9fd96d44dea"
            Publisher="CN=Salem"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>Farmacie.App</DisplayName>
    <PublisherDisplayName>Salem</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>Farmacie.App</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="Farmacie.App.App">
        <VisualElements
            DisplayName="Farmacie.App"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="Farmacie.App"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>